# Version control
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/

# Project specific
samples/
logs/*
cache/*
!logs/.gitkeep
!cache/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore 
cache
logs
